.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-pad);
}

.default {
  max-width: var(--container);
}

.narrow {
  max-width: 900px;
}

.wide {
  max-width: 1600px;
}
